<h1>Editing Rentals</h1>

<%= render 'form', customers_movie_stocks_user: @customer_movie_stock_user %>

<%= link_to 'Show', admin_customers_movie_stocks_user_path %> |
<%= link_to 'All Rentals', admin_customers_movie_stocks_users_path %>
