<% provide(:title, 'Inventory') %>
<h1>New Inventory</h1>

<div class="row">
  <div class="col">
      <aside class="col-md-4">
        <h2>Add Media Types</h2>
        <section class="media_type_form">
          <%= render 'shared/media_type_form', media_type: @media_type %>
        </section>
        <section class="actor_info">

        </section>
      </aside>
  </div>

  <div class="col-md-6 col-md-offset-3" id="add-video">
    <%= render 'form', inventory: @inventory %>
  </div>
</div>


<%= link_to 'Back', inventories_path %>
