<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <aside class="col-md-4">
    <h2>Add More User Levels</h2>
    <section class="user_level_form">
      <%= render 'shared/user_level_form' %>
    </section>
    <section class="actor_info">

    </section>
  </aside>

  <div class="col-md-6 col-md-offset-3">
    <%= render 'signup_form', user: @user %>
  </div>
</div>

<%= link_to 'All Users', users_path %>
