<div class="container">
	<div class="dashboard">
		<ul>
			<li id="link"><%= link_to "User Registration",signup_path, class: "btn btn-light" %></li>
			<li id="link"><%= link_to "Videos",video_path, class: "btn btn-light" %></li>
			<li id="link"><%= link_to "Rentals",rental_path, class: "btn btn-light" %></li>
			<li id="link"><%= link_to "Customers",customer_path, class: "btn btn-light" %></li>
		</ul>
	</div>
</div>
