<h1>Editing Rentals</h1>

<%= render 'form', customers_movie_stocks_user: @customer_movie_stock_user %>

<%= link_to 'Show', @customer_movie_stock_user %> |
<%= link_to 'Back', customers_movie_stocks_users_path %>
