// Place all the styles related to the Inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.row{
  li{
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #eee;

  }
}
