// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.thumbnail{
  .thumbnail{
    height: 300px;
    padding: 0px;
  }
}

.dashboard{
  float: right;
  li{
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #eee;

  }
}
